@import '../../variables.scss'; //TITLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!

#build-editable-wrapper {
  #build-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    margin: 0;
    padding: 0;
    color: royalblue;
    box-shadow: 1px 1px 1px 1px gray;
  }

  .build-menu,
  .build-name {
    margin: 1rem;
  }

  .build-name {
    @include font-size($font-map) text-transform: capitalize;
  }

  .build-menu {
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.builders-div {
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 75%;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 1rem;

  .builder {
    border-radius: 100%;
    margin: 0.2rem;
    width: 40px;
    height: 40px;
  }
}
// END TITLE !!!!!!!!!!!!!!!!
// GALLERY !!!!!!!!!!!!!!!!!!!!!!!!

.loader {
  width: 50px;
  height: 50px;
  margin: calc(50% - 50px) auto 0 auto;
  border-radius: 100%;
  border-top: 3px solid $primary-color;
  // transition: border
  animation: 1s infinite rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#build-editable-wrapper {
  padding-bottom: 11vh;
  // z-index: 5;
  width: 100%;
  text-align: center;
  position: relative;

  .panel {
    background: $paper-dark;
    z-index: 5;
    box-shadow: 1px 1px 1px 1px gray;
    margin-bottom: 50px;
    padding-bottom: -25px;
  }

  .panel:last-child {
    margin-bottom: 100px;
  }

  #gallery {
    padding-top: 1rem;
    .fig-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;

      .gallery-fig {
        margin: 0 auto;
        width: calc(50% - 8px);
        position: relative;
        z-index: 6;
        img {
          width: 100%;
        }

        .delete-box {
          position: absolute;
          top: 5%;
          right: 5%;
          width: 20px;
          height: 20px;
          padding: 5px;
          background: transparent;
        }
      }
    }
  }
}

.loader-container {
  width: 50%;
  height: 200px;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0, .7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .modal-content {
    width: 80%;
    margin: 0 auto;
    background: $paper-lightest;
    border-radius: 3px;
    padding: 1rem;
    }
    .question {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    .button-container {
      border: none;
      button {
        border: none;        
        background: none;
        border: none;
        margin: 0 auto;
        border-radius: 3px;
        color: white;
        font-weight: bold;
        padding: .5rem 1rem;                
      }
    .delete {
        background: red;
        margin: 0 .5rem;
      }
    .cancel {
        background: $primary-color;
        color: white;
      }
     }
}

.lightbox-container {
  width: 100%;
  @media(orientation: landscape) {
    width: auto;
    height: 80%;
    max-width: 95%;
    margin: 0 auto;
  }
}
.lightbox-img {
  width: 100%;
}

.float-button {
  border-radius: 100%;
  border: none;
  width: $float-button-width;
  height: $float-button-width;
  color: white;
  background: $primary-color;
  margin: 0;
  box-shadow: 1px 1px 1px 1px darkgray;

  i {
    display: inline-block;
    font-size: 1.8rem;
    display: block;
  }
}

#add-builder {
  width: 40px;
  height: 40px;
}

.panel-options-div {
  position: relative;
  width: 100%;
  min-height: 50px;
  margin-top: 2rem;
  transform: translate3d(0px, 25px, 0px);

  .float-button {
    position: absolute;
    left: calc(50% - 25px);
    z-index: 5;
  }
}

.divider {
  margin: 0;
  padding: 0;
  height: 0;
  border-bottom: 1px solid $paper-darkest;
}
// END OF GALLERY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// START SUMMARY!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.info {
  color: $info;
}

#summary {
  // padding: 1rem 0;
  .summary-description {
    // margin: 1rem 0;
    // padding: 0 .5rem;
    background: transparentize(lighten($info, 20%), .7);
  }

  .save {
    display: inline-block;
    color: $success;
    font-weight: bold;
  }

  .summary-content {
    width: 100%;
    padding: 0;

    #summary-input {
      width: 100%;
      max-width: 96%;
      height: 30vh;
      border: none;
      padding: 0.3rem;
      border-bottom: 2px solid $paper-darkest;
    }
  }
}

#diagram {
    img {
        width: 100%;
        margin-top: .5rem;
    }
}
