#build-editable-wrapper {
  width: 100%;
  text-align: center;
  position: relative;
  #gallery {
    background: lighten(grey, 45%);
    padding-top: .5rem;
    padding-bottom: 2rem;
    z-index: 100;
    position: relative;
    .fig-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 2px;
      width: 100%;
      margin: 0 auto;
      .gallery-fig {
        margin: 0;
        padding: 0 2px ;
        width: calc(50% - 8px);
        position: relative;
        img {
          width: 100%;
        }
        .close {
          font-size: 1.5rem;
          border-radius: 100%;
          background-color: white;
          color: royalblue;
          position: absolute;
          top: 5%;
          right: 5%;
        }
      }
    }
  }
}

.float-button {
  border-radius: 100%;
  border: none;
  width: 50px;
  height: 50px;
  color: white;
  background: royalblue;
  margin: 0 .2rem;
  i {
    display: inline-block;
    font-size: 1.8rem;
    display: block;
  }
}

#add-builder {
  width: 40px;
  height: 40px;
}

.panel-options-div {
  position: absolute;
  width: 100%;
  bottom: -25px;
  left: 0;
}

#build-editable-wrapper {
  #build-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    margin: 0;
    padding: 0;
    z-index: 2000;
    color: royalblue;
    box-shadow: 1px 1px 1px 1px gray;
  }
  .builders-div {
    // width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 75%;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 1rem 0;
    .builder {
      border-radius: 100%;
      margin: .2rem;
      width: 40px;
      height: 40px;
    }
  }
  .build-name, .build-menu {
    margin: 1rem;
    z-index: 2010;
  }
  .build-name {
    font-size: 2.4rem;
    text-transform: capitalize;
  }
  .build-menu {
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
  }
}
