// Global Style Variables!!!!!!!!!!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

// Colors
$primary-color: royalblue;
$secondary-color: red;
$paper-darkest: lightgrey;
$paper-dark: lighten($paper-darkest, 10%);
$paper-light: lighten($paper-darkest, 20%);
$paper-lightest: lighten($paper-darkest, 30%);
$alert: red;
$caution: yellow;
$info: blue;
$success: lightgreen;


// Font-size Stackack
//let the content determine breakpoints!!!
$font-map: (
  null: 1rem,
);

@mixin font-size($map) {
  @each $break, $size in $map {
    @media all and (min-width: $break) {
      font-size: $size;
    }
  }
}
