#layout-wrapper {
  min-height: 100vh;
  position: relative;
  background: lighten(gray, 40%);
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 12%;
  width: 100%;
  background: white;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10%;
    padding: 0;
    height: 100%;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      align-self: center;
      i, sub, a {
        display: block;
        text-align: center;
        color: grey;
        font-weight: bold;
      }
      .active {
        color: salmon;
      }
    }
  }
}
